/* ********************** IMPORTS ************************ */

@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext');

/* ********************** GLOBAL ************************ */

*{
  margin: 0;
  padding: 0;
  font-family: 'Alegreya', serif;
}

body {
    color: #7a7a7a;
}

p {
    margin-bottom: 20px;
}

img {
	max-width: 100%;
}

header{
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #1a1a1a;
    font-weight: normal;
}

h2 {
    padding-top: 66px;
    color: #5f604b;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 56px;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #ce9f56;
}

/* ********************** NAVBAR ************************ */

.logo{
  text-align: center;
  background-image: url("../images/headerBG.jpg");
  /* background-image: url("https://www.stockvault.net/data/2018/07/31/253524/preview16.jpg"); */
  /* background-image: url("https://freerangestock.com/sample/115225/flower-background--light-cream-floral.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 65%;
  height: 400px;
}

.logo img{
  display: inline-block;
  margin-top: 7rem;
}

.nav{
  height: 60px;
}

.nav ul {
  list-style: none;
  background-color: #f3f2e9;
  color: #000;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100%;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  margin-top: 5px;
}

.nav a {
  text-decoration: none;
  color: #000;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #c4c095;
}

.nav a.active {
  background-color: #c4c095;
  color: #000;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}

@media screen and (max-width: 600px) {
  .nav{
    height: 180px;
  }
}

@media screen and (max-width: 410px) {
  .logo img{
    margin-top: 0;
  }
}

/* ********************** OUR TEAM ************************ */

.our-team {
    padding-bottom: 8rem;
    /* background-color: #f3f2e9; */
}

.our-team h3 {
    padding-top: 63px;
}

.our-team .col1 {
    color: #adab86;
}

.wrap{
  margin: 0 auto;
  width:100%;
  display:flex;
  /* align-items:space-around; */
  justify-content: space-between;
  /* max-width:1200px; */
  max-width: 75%;
  flex-wrap: wrap;
}

.wrap .title{
  margin-top: 4rem;
}

.title{
  width:420px;
  height:450px;
  /* margin-left:10px; */
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 40px 77px -17px rgba(0,0,0,0.9);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}

.title img{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}

.title .text{
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}

.title h1{
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.title h2{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
  transform: translateX(200px);
}

.title p{
  font-weight:300;
  margin: 6rem 0 0 0;
  line-height: 25px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.animate-text{
  opacity:0;
  transition: all 0.6s ease-in-out;
}

.title:hover{
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}

.title:hover img{
  opacity: 0.2;
}

.title:hover .animate-text{
  transform:translateX(0);
  opacity:1;
}

.title:hover span{
  opacity:1;
  transform:translateY(0px);
}

.team h1.team-title{
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
  font-size: 3.5rem;
}

hr.hr{
  width: 60%; 
  margin: 0 20% 0 20%;
}

.employee-name{
  color: #fff;
  padding-top: 0;
  margin-left: -1.2rem !important;
  margin-top: -1.2rem !important;
}

.employee-name3{
  color: #fff;
  padding-top: 0;
  margin-left: -1rem !important;
  margin-top: -1rem !important;
}

@media (max-width: 1300px) {
  .team h1.team-title{
    font-size:3rem !important;
  }
}

@media (max-width: 1200px) {
  .wrap .title{
    /* margin-left: 10rem; */
    margin: 2rem auto;
  }
}

@media (max-width: 1080px) {
  .team h1.team-title{
    font-size:2.5rem !important;
  }
}

@media (max-width: 1000px) {
  .wrap {
    flex-direction: column;
    width:400px;
    margin: 0 auto;
    max-width: 100%;
  }

  .wrap .title{
    max-width: 100%;
    width: auto;
    /* margin-top: 0; */
    margin: 0;
    margin-top: 4rem;
  }

  h1.team-title{
    line-height: 3rem;
  }
}

@media screen and (max-width: 410px) {
  .logo img{
    margin-top: 0;
  }
}

/* ********************** FOOTER ************************ */

footer {
    text-align: center;
    color: #aea9a9;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: #f3f2e9;
    border-top: 1px solid #000;

    background-image: url("../images/footerBG.jpg");
    /* background-image: url("https://freerangestock.com/sample/115275/flower-background-vintage-look.jpg"); */
    /* background-image: url("https://freerangestock.com/sample/115225/flower-background--light-cream-floral.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 80%;
    height: 150px;
}

footer p{
  margin-top: 2rem;
}

i.fa{
  font-size: 2rem;
  margin-left: .5rem;
  position: relative;
  top: 1rem;
}

.fa-facebook{
  margin-left: 2rem;
}